.reviews {
  margin: 150px auto 0;
  background-color: rgba(247, 242, 234, 1);
}

@media (max-width: 1250px) {
  .reviews {
    margin-top: 120px;
  }
}

@media (max-width: 650px) {
  .reviews {
    margin-top: 60px;
  }
}

@media (max-width: 465px) {
  .reviews {
    margin-top: 80px;
  }
}
