.blog__content {
  display: flex;
  flex-direction: column;
  flex: 0 1 252px;
  color: rgba(21, 22, 24, 1);
}

@media (max-width: 1250px) {
  .blog__content {
    flex-basis: 210px;
  }
}

@media (max-width: 960px) {
  .blog__content {
    flex-basis: 252px;
  }
}

@media (max-width: 650px) {
  .blog__content {
    flex-basis: 210px;
  }
}

@media (max-width: 465px) {
  .blog__content {
    margin-top: 10px;
    flex-basis: 0;
  }
}
