.subscribe__description {
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 580px;
}

@media (max-width: 1250px) {
  .subscribe__description {
    text-align: center;
    max-width: 780px;

  }
}

@media (max-width: 960px) {
  .subscribe__description {
    max-width: 640px;
  }
}

@media (max-width: 650px) {
  .subscribe__description {
    max-width: 460px;
    font-size: 13px;
  }
}

@media (max-width: 465px) {
  .subscribe__description {
    max-width: 340px;
  }
}
