.footer__contact-text {
  grid-column: span 2;
  max-width: 270px;
  font-family: "OpenSans";
  font-size: 13px;
  font-weight: 300;
  line-height: 1.36;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .footer__contact-text {
    max-width: 460px;
    text-align: center;
    grid-column: span 3;
  }
}

@media (max-width: 465px) {
  .footer__contact-text {
    max-width: 340px;
    margin-bottom: 10px;
    grid-column: span 2;
  }
}
