.subscribe__button {
  font-family: "OpenSans";
  font-size: 20px;
  font-weight: 300;
  line-height: 1.36;
  text-align: center;
  background-color: white;
  padding: 12px 41px;
  border: 1px solid #000000;
  border-radius: 0;
  box-shadow: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.subscribe__button:hover {
  background-color: rgba(247, 242, 234, 1);
  transform: scale(0.94);
}
